* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 130px;
  height: 45px;
  font-size: 26px;
  margin: 0 10px;
  padding-left: 10px;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.anime {
  position: relative;
  border-radius: 5px 5px 0 0;
}
.colorDec {
  width: 110px;
  height: 20px;
  margin-top: 20px;
  border-radius: 5px 5px 0 0;
  background-color: red;
}

.colorInc {
  width: 0px;
  height: 20px;
  border-radius: 5px 5px 0 0;
  margin-top: 20px;
  background-color: red;
  transition: 3s;
}
.colorInc:hover {
  width: 110px;
}
button {
  width: 110px;
  height: 45px;
  font-size: 26px;
  border: none;
  border-radius: 0 0 5px 5px;
  background-color: blue;
  color: white;
  transition: 1s;
}
button:hover {
  background-color: rgb(4, 4, 191);
}
span {
  width: 50px;
  height: 50px;
  background-color: cornflowerblue;
  color: azure;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}
